*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
#h1{
    color: white;
    margin: 40px 0px 30px 75px;
    font-family: sans-serif;
    font-size: 20px;
}
.lable{
   color: white;
   display: block;
   margin-bottom: 20px;
   
}
#container{
    display: flex;
    position: relative;
    justify-content: space-around;
    margin-top: 20px;
}
.input{
    height: 30px;
    width: 300px;
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    border-radius: 5px;
}
.btndiv{
/* background-color: white;
color: black; */
}
#btn{
    background-color: white;
color: black;
margin: 25px 0px 0px 75px;
height: 35px;
width: 130px;
}
#h2{
    color: red;
    margin: 25px 0px 0px 75px;
}
#h3{
    color: white;
    margin: 25px 0px 0px 75px;
}
#h4{
    color: rgba(228, 225, 225, 0.656);
    font-size: 15px;
    margin: 25px 0px 0px 75px;
}